
  @import url('https://fonts.googleapis.com/css2?family=Amethysta&family=Bricolage+Grotesque&display=swap');
.button{
  opacity:0;
}


.box1:hover{
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;

}
.box1:hover img{
  opacity: 0.5;
  transition: all .2s ease-out;
  transform: scale(1.5);
  
}
.box:hover .button{
  opacity: 1;

  
}
.box1:hover .button{
  opacity: 1;

  
}





